In [1]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
#Load dataset
pd.set_option("display.max_columns", None)
matches = pd.read_csv(r"C:\Users\ramch\Downloads\Ipl Win Predictor\Datasets\matches.csv")
matches.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan

In [3]:
delivery = pd.read_csv(r"C:\Users\ramch\Downloads\Ipl Win Predictor\Datasets\deliveries.csv")
delivery.head()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN

In [4]:
matches.shape

(1095, 20)

In [5]:
delivery.shape

(260920, 17)

In [6]:
# Lets see total runs in each inning

total_score_df = delivery.groupby(["match_id", "inning"]).sum()['total_runs'].reset_index()
total_score_df

      match_id  inning  total_runs
0       335982       1         222
1       335982       2          82
2       335983       1         240
3       335983       2         207
4       335984       1         129
...        ...     ...         ...
2212   1426310       2         174
2213   1426311       1         175
2214   1426311       2         139
2215   1426312       1         113
2216   1426312       2         114

[2217 rows x 3 columns]

There were a total of 756 matches, and since each match consists of two innings, the total number of innings is calculated as 756 × 2 = 1512.

In [7]:
# Now, we will consider only the first inning of each match.
total_score_df = total_score_df[total_score_df['inning'] == 1]
total_score_df

      match_id  inning  total_runs
0       335982       1         222
2       335983       1         240
4       335984       1         129
6       335985       1         165
8       335986       1         110
...        ...     ...         ...
2207   1426307       1         214
2209   1426309       1         159
2211   1426310       1         172
2213   1426311       1         175
2215   1426312       1         113

[1095 rows x 3 columns]

In [8]:
# now we will merge match and total score df dataframes
# We will merge on match id. INNING is anyhow 1 so we will not consider this column 
match_df = matches.merge(total_score_df[['match_id','total_runs']], left_on = 'id', right_on= 'match_id')
match_df.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,match_id,total_runs
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,222
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri,335983,240
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar,335984,129
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper,335985,165
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan,335986,110

In [9]:
match_df.shape

(1095, 22)

In [10]:
# NOw lets how many teams are there
match_df.team1.unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Mumbai Indians', 'Kolkata Knight Riders',
       'Rajasthan Royals', 'Deccan Chargers', 'Chennai Super Kings',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Gujarat Lions', 'Rising Pune Supergiants',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings',
       'Lucknow Super Giants', 'Gujarat Titans',
       'Royal Challengers Bengaluru'], dtype=object)

In [11]:
# We can see there are some teams like 'Rising Pune Supergiant', 'Gujarat Lions' who are not playing ipl 

teams = [
    'Royal Challengers Bengaluru',
    'Mumbai Indians',
    'Kolkata Knight Riders',
    'Rajasthan Royals',
    'Chennai Super Kings',
    'Sunrisers Hyderabad',
    'Delhi Capitals', 
    'Punjab Kings','Lucknow Super Giants', 'Gujarat Titans']

In [12]:
# 'Sunrisers Hyderabad' and 'Deccan Chargers' both are same teams

match_df['team1'] = match_df['team1'].str.replace('Delhi Daredevils', 'Delhi Capitals')
match_df['team2'] = match_df['team2'].str.replace('Delhi Daredevils', 'Delhi Capitals')

match_df['team1'] = match_df['team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

match_df['team2'] = match_df['team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

match_df['team1'] = match_df['team1'].str.replace('Kings XI Punjab','Punjab Kings')
match_df['team2'] = match_df['team2'].str.replace('Kings XI Punjab','Punjab Kings')

match_df['team2'] = match_df['team2'].str.replace('Royal Challengers Bangalore','Royal Challengers Bengaluru')
match_df['team2'] = match_df['team2'].str.replace('Royal Challengers Bangalore','Royal Challengers Bengaluru')
match_df = match_df[match_df['team1'].isin(teams)]

In [13]:
match_df = match_df[match_df['team1'].isin(teams)]
match_df = match_df[match_df['team2'].isin(teams)]

In [14]:
match_df.shape

(853, 22)

In [15]:
match_df['team1'].unique()

array(['Punjab Kings', 'Delhi Capitals', 'Mumbai Indians',
       'Kolkata Knight Riders', 'Rajasthan Royals', 'Sunrisers Hyderabad',
       'Chennai Super Kings', 'Lucknow Super Giants', 'Gujarat Titans',
       'Royal Challengers Bengaluru'], dtype=object)

In [16]:
match_df

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,match_id,total_runs
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Punjab Kings,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri,335983,240
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Capitals,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar,335984,129
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bengaluru,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper,335985,165
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Sunrisers Hyderabad,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan,335986,110
5,335987,2007/08,Jaipur,2008-04-21,League,SR Watson,Sawai Mansingh Stadium,Rajasthan Royals,Punjab Kings,Kings XI Punjab,bat,Rajasthan Royals,wickets,6.0,167.0,20.0,N,NaN,Aleem Dar,RB Tiffin,335987,166
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,1426307,2024,Hyderabad,2024-05-19,League,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Punjab Kings,Sunrisers Hyderabad,Punjab Kings,bat,Sunrisers Hyderabad,wickets,4.0,215.0,20.0,N,NaN,Nitin Menon,VK Sharma,1426307,214
1091,1426309,2024,Ahmedabad,2024-05-21,Qualifier 1,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,160.0,20.0,N,NaN,AK Chaudhary,R Pandit,1426309,159
1092,1426310,2024,Ahmedabad,2024-05-22,Eliminator,R Ashwin,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,4.0,173.0,20.0,N,NaN,KN Ananthapadmanabhan,MV Saidharshan Kumar,1426310,172
1093,1426311,2024,Chennai,2024-05-24,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,Sunrisers Hyderabad,runs,36.0,176.0,20.0,N,NaN,Nitin Menon,VK Sharma,1426311,175
1094,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon,1426312,113

In [17]:
# Duckworth-Lewis-Stern (DLS) method
match_df['method'].value_counts()

method
D/L    15
Name: count, dtype: int64

15 IPL matches had results influenced by the DLS method.

In [18]:
#DLS-affected matches

match_df[match_df['method'] == 'D/L']

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,match_id,total_runs
38,336022,2007/08,Delhi,2008-05-17,League,DPMD Jayawardene,Feroz Shah Kotla,Delhi Capitals,Punjab Kings,Delhi Daredevils,bat,Kings XI Punjab,runs,6.0,89.0,8.0,N,D/L,AV Jayaprakash,RE Koertzen,336022,118
41,336025,2007/08,Kolkata,2008-05-18,League,M Ntini,Eden Gardens,Kolkata Knight Riders,Chennai Super Kings,Kolkata Knight Riders,bat,Chennai Super Kings,runs,3.0,53.0,8.0,N,D/L,Asad Rauf,K Hariharan,336025,149
60,392183,2009,Cape Town,2009-04-19,League,DL Vettori,Newlands,Delhi Capitals,Punjab Kings,Delhi Daredevils,field,Delhi Daredevils,wickets,10.0,54.0,6.0,N,D/L,MR Benson,SD Ranade,392183,104
63,392186,2009,Durban,2009-04-21,League,CH Gayle,Kingsmead,Punjab Kings,Kolkata Knight Riders,Kolkata Knight Riders,field,Kolkata Knight Riders,runs,11.0,69.0,9.2,N,D/L,DJ Harper,SD Ranade,392186,158
89,392214,2009,Centurion,2009-05-07,League,ML Hayden,SuperSport Park,Chennai Super Kings,Punjab Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,12.0,187.0,18.0,N,D/L,DJ Harper,TH Wijewardene,392214,185
221,501245,2011,Kolkata,2011-05-07,League,Iqbal Abdulla,Eden Gardens,Kolkata Knight Riders,Chennai Super Kings,Chennai Super Kings,bat,Kolkata Knight Riders,runs,10.0,52.0,10.0,N,D/L,Asad Rauf,PR Reiffel,501245,114
429,733993,2014,Delhi,2014-05-10,League,DW Steyn,Feroz Shah Kotla,Delhi Capitals,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,8.0,43.0,5.0,N,D/L,RM Deshpande,BNJ Oxenford,733993,143
476,829743,2015,Visakhapatnam,2015-04-22,League,DA Warner,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,Sunrisers Hyderabad,runs,16.0,118.0,12.0,N,D/L,RK Illingworth,VA Kulkarni,829743,176
508,829807,2015,Hyderabad,2015-05-15,League,V Kohli,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad,Royal Challengers Bengaluru,Sunrisers Hyderabad,bat,Royal Challengers Bangalore,wickets,6.0,81.0,6.0,N,D/L,AK Chaudhary,HDPK Dharmasena,829807,135
633,1082648,2017,Bangalore,2017-05-17,Eliminator,NM Coulter-Nile,M Chinnaswamy Stadium,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,Kolkata Knight Riders,wickets,7.0,48.0,6.0,N,D/L,AK Chaudhary,Nitin Menon,1082648,128
641,1136566,2018,Jaipur,2018-04-11,League,SV Samson,Sawai Mansingh Stadium,Rajasthan Royals,Delhi Capitals,Delhi Daredevils,field,Rajasthan Royals,runs,10.0,71.0,6.0,N,D/L,KN Ananthapadmanabhan,Nitin Menon,1136566,153
653,1136578,2018,Kolkata,2018-04-21,League,KL Rahul,Eden Gardens,Kolkata Knight Riders,Punjab Kings,Kings XI Punjab,field,Kings XI Punjab,wickets,9.0,125.0,13.0,N,D/L,A Deshmukh,C Shamshuddin,1136578,191
667,1136592,2018,Delhi,2018-05-02,League,RR Pant,Arun Jaitley Stadium,Delhi Capitals,Rajasthan Royals,Rajasthan Royals,field,Delhi Daredevils,runs,4.0,151.0,12.0,N,D/L,CK Nandan,VK Sharma,1136592,196
951,1359476,2023,Chandigarh,2023-04-01,League,Arshdeep Singh,"Punjab Cricket Association IS Bindra Stadium, ...",Punjab Kings,Kolkata Knight Riders,Kolkata Knight Riders,field,Punjab Kings,runs,7.0,154.0,16.0,N,D/L,BNJ Oxenford,YC Barde,1359476,191
1023,1370353,2023,Ahmedabad,2023-05-29,Final,DP Conway,"Narendra Modi Stadium, Ahmedabad",Gujarat Titans,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,wickets,5.0,171.0,15.0,N,D/L,Nitin Menon,RJ Tucker,1370353,214

In [19]:
# Lets consider matches where (DLS) method was not applied

match_df = match_df[match_df['method'] != 'D/L']
match_df['method'].value_counts()

Series([], Name: count, dtype: int64)

In [20]:
# extracting features from match dataset
match_df = match_df[['match_id','city','winner','total_runs']]
match_df.head()

   match_id        city                       winner  total_runs
1    335983  Chandigarh          Chennai Super Kings         240
2    335984       Delhi             Delhi Daredevils         129
3    335985      Mumbai  Royal Challengers Bangalore         165
4    335986     Kolkata        Kolkata Knight Riders         110
5    335987      Jaipur             Rajasthan Royals         166

In [21]:
# merging

delivery_df = match_df.merge(delivery, on = 'match_id')
delivery_df.head(3)

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335983,Chandigarh,Chennai Super Kings,240,1,Chennai Super Kings,Kings XI Punjab,0,1,PA Patel,B Lee,ML Hayden,0,0,0,NaN,0,NaN,NaN,NaN
1,335983,Chandigarh,Chennai Super Kings,240,1,Chennai Super Kings,Kings XI Punjab,0,2,PA Patel,B Lee,ML Hayden,0,0,0,NaN,0,NaN,NaN,NaN
2,335983,Chandigarh,Chennai Super Kings,240,1,Chennai Super Kings,Kings XI Punjab,0,3,PA Patel,B Lee,ML Hayden,1,0,1,NaN,0,NaN,NaN,NaN

In [22]:
# Now, let's consider only the second inning of each match.
delivery_df = delivery_df[delivery_df['inning'] == 2]
delivery_df.head(3)

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
124,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,1,K Goel,JDP Oram,JR Hopes,4,0,4,NaN,0,NaN,NaN,NaN
125,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,2,K Goel,JDP Oram,JR Hopes,0,0,0,NaN,0,NaN,NaN,NaN
126,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,3,K Goel,JDP Oram,JR Hopes,0,0,0,NaN,0,NaN,NaN,NaN

In [23]:
delivery_df.shape

(97600, 20)

In [24]:
# Lets now get current runs 

# Ensure 'total_runs_y' is numeric
delivery_df['total_runs_y'] = pd.to_numeric(delivery_df['total_runs_y'], errors='coerce')

# Calculate cumulative sum
delivery_df['current_score'] = delivery_df.groupby('match_id')['total_runs_y'].cumsum()
delivery_df.head()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score
124,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,1,K Goel,JDP Oram,JR Hopes,4,0,4,NaN,0,NaN,NaN,NaN,4
125,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,2,K Goel,JDP Oram,JR Hopes,0,0,0,NaN,0,NaN,NaN,NaN,4
126,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,3,K Goel,JDP Oram,JR Hopes,0,0,0,NaN,0,NaN,NaN,NaN,4
127,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,4,K Goel,JDP Oram,JR Hopes,1,0,1,NaN,0,NaN,NaN,NaN,5
128,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,5,JR Hopes,JDP Oram,K Goel,0,0,0,NaN,0,NaN,NaN,NaN,5

We can see that after each ball, the number of runs scored is being counted.

In [25]:
# now we will find runs left 
# (total runs x)- (current score) will give runs left 

delivery_df['runs_left'] = delivery_df['total_runs_x'] - delivery_df['current_score']

In [26]:
# Now lets see how many balls left 

delivery_df['balls_left'] = 126 - (delivery_df['over']*6 + delivery_df['ball'])
delivery_df.head()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left
124,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,1,K Goel,JDP Oram,JR Hopes,4,0,4,NaN,0,NaN,NaN,NaN,4,236,125
125,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,2,K Goel,JDP Oram,JR Hopes,0,0,0,NaN,0,NaN,NaN,NaN,4,236,124
126,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,3,K Goel,JDP Oram,JR Hopes,0,0,0,NaN,0,NaN,NaN,NaN,4,236,123
127,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,4,K Goel,JDP Oram,JR Hopes,1,0,1,NaN,0,NaN,NaN,NaN,5,235,122
128,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,5,JR Hopes,JDP Oram,K Goel,0,0,0,NaN,0,NaN,NaN,NaN,5,235,121

In [27]:
# now lets see how many wickets are left
# If a player is out, it is recorded next to their name; otherwise, it is marked as NaN.
# We will fill nan with 0

delivery_df['player_dismissed'] = delivery_df['player_dismissed'].fillna("0")
delivery_df.head()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left
124,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,1,K Goel,JDP Oram,JR Hopes,4,0,4,NaN,0,0,NaN,NaN,4,236,125
125,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,2,K Goel,JDP Oram,JR Hopes,0,0,0,NaN,0,0,NaN,NaN,4,236,124
126,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,3,K Goel,JDP Oram,JR Hopes,0,0,0,NaN,0,0,NaN,NaN,4,236,123
127,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,4,K Goel,JDP Oram,JR Hopes,1,0,1,NaN,0,0,NaN,NaN,5,235,122
128,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,5,JR Hopes,JDP Oram,K Goel,0,0,0,NaN,0,0,NaN,NaN,5,235,121

In [28]:
# Wherever there is a name, we will replace it with 1.
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].apply(lambda x: x if x == '0' else "1")

#Here,`x if x == 0` ensures that if the value is 0,it remains unchanged,and it replaces other values (names) with 1

delivery_df['player_dismissed'] = delivery_df['player_dismissed'].astype('int')

In [29]:
# lets count how many wickets have been taken

wickets = delivery_df.groupby("match_id")['player_dismissed'].cumsum().values
wickets

array([0, 0, 0, ..., 2, 2, 2])

In [30]:
# Lets see how many wickets are left 

delivery_df['wickets_left'] = 10 - wickets
delivery_df.head()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets_left
124,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,1,K Goel,JDP Oram,JR Hopes,4,0,4,NaN,0,0,NaN,NaN,4,236,125,10
125,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,2,K Goel,JDP Oram,JR Hopes,0,0,0,NaN,0,0,NaN,NaN,4,236,124,10
126,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,3,K Goel,JDP Oram,JR Hopes,0,0,0,NaN,0,0,NaN,NaN,4,236,123,10
127,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,4,K Goel,JDP Oram,JR Hopes,1,0,1,NaN,0,0,NaN,NaN,5,235,122,10
128,335983,Chandigarh,Chennai Super Kings,240,2,Kings XI Punjab,Chennai Super Kings,0,5,JR Hopes,JDP Oram,K Goel,0,0,0,NaN,0,0,NaN,NaN,5,235,121,10

In [31]:
delivery_df.shape

(97600, 24)

In [32]:
# Current run rate (crr)= runs/overs
delivery_df['crr'] = (delivery_df['current_score']*6)/(120 - delivery_df['balls_left'])

In [33]:
# required run rate:(rrr) 
delivery_df['rrr'] = (delivery_df['runs_left']*6)/delivery_df['balls_left']

In [34]:
# If winner and batting team are same then result will be 1 esle 0
def result(row):
    return 1 if row['batting_team'] == row['winner'] else 0

In [35]:
delivery_df['result'] = delivery_df.apply(result, axis = 1)

In [36]:
delivery_df['result'].value_counts()

result
1    49886
0    47714
Name: count, dtype: int64

In [37]:
# Now lets extract the columns that are required for our predictions
final_df = delivery_df[['batting_team','bowling_team','city','runs_left','balls_left','wickets_left','total_runs_x',
            'crr','rrr','result']]
final_df = final_df.sample(final_df.shape[0])
final_df.head()

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,total_runs_x,crr,rrr,result
70879,Delhi Daredevils,Mumbai Indians,NaN,113,114,10,125,12.000000,5.947368,1
84181,Mumbai Indians,Delhi Daredevils,Delhi,183,118,10,190,21.000000,9.305085,0
53836,Mumbai Indians,Rajasthan Royals,Jaipur,162,125,10,162,-0.000000,7.776000,1
121778,Delhi Capitals,Kolkata Knight Riders,Kolkata,56,47,8,178,10.027397,7.148936,1
5546,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata,119,113,10,129,8.571429,6.318584,0

shuffle: randomly reorder the data. It ensures that the data is not in any specific order, which helps prevent bias and improves model generalization.

In [38]:
final_df.describe()

,runs_left,balls_left,wickets_left,total_runs_x,crr,rrr,result
count,97600.000000,97600.000000,97600.000000,97600.000000,9.757400e+04,97600.000000,97600.000000
mean,93.799068,68.418770,7.488914,169.105584,inf,8.585646,0.511127
std,51.090108,33.458865,2.171846,30.768497,NaN,4.392425,0.499879
min,-6.000000,3.000000,0.000000,67.000000,-1.320000e+02,-9.000000,0.000000
25%,54.000000,40.000000,6.000000,148.000000,7.339806e+00,6.493151,0.000000
50%,93.000000,69.000000,8.000000,168.000000,8.752941e+00,8.147368,1.000000
75%,132.000000,97.000000,9.000000,188.000000,1.044706e+01,9.971831,1.000000
max,286.000000,125.000000,10.000000,287.000000,inf,114.000000,1.000000

In [39]:
final_df['crr'].replace([np.inf, -np.inf], np.nan, inplace=True)

In [40]:
final_df.isnull().sum()

batting_team       0
bowling_team       0
city            4959
runs_left          0
balls_left         0
wickets_left       0
total_runs_x       0
crr              837
rrr                0
result             0
dtype: int64

In [41]:
final_df.dropna(subset = ['crr'], inplace = True)

In [42]:
# In CRR, we have `inf` values. 

final_df = final_df[final_df['balls_left'] !=0]
final_df.describe()

,runs_left,balls_left,wickets_left,total_runs_x,crr,rrr,result
count,96763.000000,96763.000000,96763.000000,96763.000000,96763.000000,96763.000000,96763.000000
mean,93.213532,67.972593,7.468971,169.119767,9.029772,8.590067,0.510960
std,50.834976,33.256062,2.170193,30.760557,7.647954,4.408685,0.499882
min,-6.000000,3.000000,0.000000,67.000000,-132.000000,-9.000000,0.000000
25%,53.000000,40.000000,6.000000,148.000000,7.333333,6.486486,0.000000
50%,92.000000,69.000000,8.000000,168.000000,8.727273,8.148148,1.000000
75%,131.000000,97.000000,9.000000,188.000000,10.390244,9.983607,1.000000
max,286.000000,125.000000,10.000000,287.000000,162.000000,114.000000,1.000000

In [43]:
final_df.isnull().sum()

batting_team       0
bowling_team       0
city            4917
runs_left          0
balls_left         0
wickets_left       0
total_runs_x       0
crr                0
rrr                0
result             0
dtype: int64

In [44]:
# THere are null values so we will drop na values
final_df.dropna(inplace=True)

In [45]:
final_df.isnull().sum()

batting_team    0
bowling_team    0
city            0
runs_left       0
balls_left      0
wickets_left    0
total_runs_x    0
crr             0
rrr             0
result          0
dtype: int64

Selecting Independent and Dependent Features

In [46]:
X = final_df.iloc[:,:-1]
X.head()

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,total_runs_x,crr,rrr
84181,Mumbai Indians,Delhi Daredevils,Delhi,183,118,10,190,21.000000,9.305085
53836,Mumbai Indians,Rajasthan Royals,Jaipur,162,125,10,162,-0.000000,7.776000
121778,Delhi Capitals,Kolkata Knight Riders,Kolkata,56,47,8,178,10.027397,7.148936
5546,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata,119,113,10,129,8.571429,6.318584
123922,Delhi Capitals,Kings XI Punjab,Delhi,83,71,9,163,9.795918,7.014085

In [47]:
y = final_df['result']

Train test split

In [48]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.8, random_state = 40)

encoding

In [49]:
# Column transformer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

trf = ColumnTransformer([
    ('categorical', OneHotEncoder(sparse_output = False, drop = 'first'), ['batting_team','bowling_team','city']) 
], remainder = 'passthrough')

In [50]:
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression

pipe = Pipeline([
    ('transform', trf),
    ('model',LogisticRegression(solver = 'liblinear'))
])

In [51]:
pipe.fit(X_train, y_train)

Pipeline(steps=[('transform',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('categorical',
                                                  OneHotEncoder(drop='first',
                                                                sparse_output=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('model', LogisticRegression(solver='liblinear'))])

In [52]:
# Predicting
y_pred = pipe.predict(X_test)
y_pred

array([1, 0, 1, ..., 0, 0, 1], dtype=int64)

We can use Random Forest, which provides good accuracy, but our main aim is to obtain a smooth probability, which Logistic Regression will give

In [53]:
from sklearn.metrics import accuracy_score, classification_report
accuracy_score(y_test, y_pred)

0.816984213391399

In [54]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.82      0.80      0.81      8956
           1       0.81      0.83      0.82      9414

    accuracy                           0.82     18370
   macro avg       0.82      0.82      0.82     18370
weighted avg       0.82      0.82      0.82     18370

In [55]:
pipe.predict_proba(X_test)   # probability of winning of each team

array([[0.12231876, 0.87768124],
       [0.96412422, 0.03587578],
       [0.01207274, 0.98792726],
       ...,
       [0.77976316, 0.22023684],
       [0.72728439, 0.27271561],
       [0.42463659, 0.57536341]])

In [56]:
X_test.head()

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,total_runs_x,crr,rrr
120791,Kings XI Punjab,Sunrisers Hyderabad,Chandigarh,64,60,9,150,8.600000,6.400000
70742,Kolkata Knight Riders,Kings XI Punjab,Abu Dhabi,23,16,1,132,6.288462,8.625000
180309,Kolkata Knight Riders,Punjab Kings,Kolkata,5,11,6,179,9.577982,2.727273
125154,Chennai Super Kings,Mumbai Indians,Chennai,68,38,4,155,6.365854,10.736842
49275,Deccan Chargers,Chennai Super Kings,Chennai,151,117,10,160,18.000000,7.743590

In [57]:
teams

['Royal Challengers Bengaluru',
 'Mumbai Indians',
 'Kolkata Knight Riders',
 'Rajasthan Royals',
 'Chennai Super Kings',
 'Sunrisers Hyderabad',
 'Delhi Capitals',
 'Punjab Kings',
 'Lucknow Super Giants',
 'Gujarat Titans']

In [58]:
# Select a specific match from the test data
sample_match = X_test.iloc[0:1]  # Taking the first match from the test data as an example and keeping it as a DataFrame

# Display the match details
print("Match Details:")
print(sample_match)

# Predict the probability of winning for the batting team
winning_probability = pipe.predict_proba(sample_match)[0][1]  # Probability of batting team winning
print(f"\nWinning Probability for {sample_match.iloc[0]['batting_team']}: {winning_probability:.2f}")

Match Details:
           batting_team         bowling_team        city  runs_left  \
120791  Kings XI Punjab  Sunrisers Hyderabad  Chandigarh         64

        balls_left  wickets_left  total_runs_x  crr  rrr
120791          60             9           150  8.6  6.4

Winning Probability for Kings XI Punjab: 0.88

In [59]:
final_df['city'].unique()

array(['Delhi', 'Jaipur', 'Kolkata', 'Chandigarh', 'Chennai', 'Nagpur',
       'Pune', 'Abu Dhabi', 'Hyderabad', 'Mumbai', 'Bengaluru', 'Ranchi',
       'Visakhapatnam', 'Bloemfontein', 'Port Elizabeth', 'Raipur',
       'Lucknow', 'Navi Mumbai', 'Mohali', 'Johannesburg', 'Indore',
       'Bangalore', 'Durban', 'Cape Town', 'Ahmedabad', 'Centurion',
       'Cuttack', 'Kimberley', 'Guwahati', 'Sharjah', 'Dharamsala',
       'Dubai', 'East London'], dtype=object)

In [60]:
import pickle

In [61]:
pickle.dump(pipe, open("ipl_win_predictor.pkl", "wb"))